body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccbfa9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#cup {
  font-style: italic;
  font-weight: 900;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: rgb(32, 145, 69);
  font-size: x-large;

}
a#cup.active.item{
  opacity: 1;
  padding-right: 100rem
}
#picture{
  border-radius: 8px;
  width: 50%;
  height: 50%
}
#title {
  position: relative;
  background: url("/07.jpg");
  background-size: 55%;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animate 200s linear infinite;
}
@keyframes animate
{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5000% 0;
  }
  }
#letters {
  font-style: italic;
  border-color: rgb(15, 9, 63);
  font-stretch: extra-condensed;
  color: rgb(32, 145, 69);
  /* display: flex */

  
}
#letter {
  font-style: italic;
  font-weight: 700;

  
}

#letter2 {
  font-style: bold;
  font-weight: 700;
  color: rgb(32, 145, 69);
  display: inline-grid
  
}

.ui.four.column.grid {
  padding-left: 8rem
}


.ui.basic.label {
  background: none #ccbfa9;
  border: 1px solid rgba(34,36,38,.15);
  color: rgb(32, 145, 69);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.segment {
  background-color: blanchedalmond;
}

#page-numbers {
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}


#page-numbers li {
  display: inline;
  color: rgb(238, 232, 232);
  /* float: left; */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(239, 240, 237);
  margin: 0 4px;
}

#page-numbers li.active {
  background-color: #4CAF50;
  color: rgb(39, 189, 47);
  border-radius: 5px;
}

.ui.inverted.button {
  border-radius: 5px;
  border: 1px solid rgb(239, 240, 237);
  background-color: rgb(32, 145, 69)
}

#page-numbers li:hover:not(.active) {background-color: rgb(32, 145, 69);}

#map {
  padding-top: 2rem;
  padding-bottom: 2rem
}
