body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(77, 80, 80);
  background-size: 200%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loginSegment{
  padding-bottom: 25rem;
  background-image: url("/coffee-front.png");
  background-size: 100%;
  box-shadow:  20px 20px 60px #242b30, 
             -20px -20px 60px #303b40;
}

.ui.centered.card{
  margin-top: 5rem
}
.ui.left.card{
  margin-right: -10rem
}

.ui.form {
  font-size: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

#picture{
  border-radius: 8px;
  width: 30%;
  height: 30%
}

.ui.menu.header.item{
  color: whitesmoke
}

.ui.form 
.field>label {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large
}

#title {
  position: relative;
  background-color: rgb(17, 17, 17);
  /* padding-bottom: 50px; */
  background-size: 55%;
  background-position: right, left;
  background-repeat: no-repeat, repeat;
  animation: animate 200s linear infinite;
}
@keyframes animate
{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 5000% 0;
  }
  }
#letters {
  font-style: normal;
  border-color: rgb(15, 9, 63);
  font-stretch: extra-condensed;
  color: rgb(14, 151, 128);
  /* display: flex */

  
}
#letter {
  font-style: normal;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: white
}

#profileLetters {
  font-style: normal;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-top: 1rem
}

#profileLetters2 {
  font-style: normal;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: black
}

#letter2 {
  font-style: normal;
  font-weight: 700;
  color: rgb(14, 151, 128);
  display: inline-grid;
  margin-bottom: 2rem;
  font-family: 'Courier New', Courier, monospace;
  
}

.ui.four.column.grid {
  padding-left: 8rem
}


.ui.basic.label {
  background: none #ccbfa9;
  border: 1px solid rgba(34,36,38,.15);
  color: rgb(14, 151, 128);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.segment {
  background-color: rgb(10, 10, 10);
  box-shadow:  20px 20px 60px #242b30, 
  -20px -20px 60px #303b40;
}

#page-numbers {
  display: inline-block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
}

.hidden {
  display: none
}

#page-numbers li {
  display: inline;
  color: rgb(10, 10, 10);
  /* float: left; */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid rgb(239, 240, 237);
  margin: 0 4px;
  background-color: white;
}

#page-numbers li.active {
  background-color: #4CAF50;
  color: rgb(14, 151, 128);
  border-radius: 5px;
}

.ui.labeled.button{
  margin-bottom: 2rem;
  margin-top: 2rem
}

.ui.inverted.button:hover {
  border-radius: 5px;
  /* border: 1px solid rgb(237, 240, 238); */
  background-color: rgb(14, 151, 128)
}

#page-numbers li:hover:not(.active) {background-color: rgb(14, 151, 128);}

#map {
  padding-top: 2rem;
  padding-bottom: 2rem
}

#icons {
  color: rgb(231, 230, 236)
}

#icons svg:hover {
  color: rgb(14, 151, 128)
}

#searchContainer{
  padding-top: 2rem;
  padding-left: 4rem
}

#searchLabel{
  /* position: absolute; */
  /* top: 10%; */
  /* left: 50%; */
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: rgb(14, 151, 128);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  /* padding: 5px; */
}

.form-control{
  background: rgb(14, 151, 128);
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.icon.search{
  margin: 10em;
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.ui.label>.icon {
  width: auto;
  margin: 0 .15em 0 0;
}

#searchLabel:hover{
  width: 200px;
  cursor: pointer;
}

#searchLabel:hover .form-control{
  display: block;
}

#searchLabel:hover .icon.search{
  background: rgb(14, 151, 128);
  color:  #07051a;
}
